---
import Logo from '../assets/logo.astro';
import Button from "./Button.astro";
---
<header class="w-2/3 flex items-center justify-between mx-auto sticky top-4 z-50 rounded-3xl px-6 py-6 hover-transt" id="mainHeader">

    <Logo class="text-white w-16"/>
    <nav class="flex text-gray-1">
    <ul class="flex space-x-4 p-4 text-xl">
        <li><a href="/">Servicios</a></li>
        <li><a href="/about">Proyectos</a></li>
        <li><a href="/contact">Nosotros</a></li>
    </ul>
</nav>

<Button variant="primary" href="/contact">Cotizar</Button>

</header>


<script>
    // Se ejecuta solo en el cliente (no durante SSR)
    document.addEventListener('DOMContentLoaded', () => {
      const header = document.getElementById('mainHeader');
      
      window.addEventListener('scroll', () => {
        if (window.scrollY > 50) {
          header.classList.add('scrolled');
        } else {
          header.classList.remove('scrolled');
        }
      });
    });
  </script>