---
import ListItem from "../components/ListItem.astro";
import Button from "./Button.astro";
---

<div id="container">


	<section class="w-full flex flex-col items-center justify-between gap-8 h-screen py-30">	
		<div class="w-full flex flex-col items-center gap-12">	

		<div class="w-1/2 flex flex-col items-center text-center gap-8">
		<span class="bg-gradient-to-r from-gray-3 via-gray-4 to-gray-3/10 text-base text-gray-1 border border-gray-4 rounded-full px-8 py-1 gradient-glow">ESTUDIO DE DISEÑO Y  BRANDING</span>
		<h1 class="text-7xl font-light leading-tight">Soluciones de <span class="font-medium">diseño</span> especializadas</h1>
		</div>
		<ul class="flex gap-6">
		<ListItem 
		  title="BRANDING" 
		  link="/" 
		  svgClass="text-blue-500" 
		/>
		<ListItem 
		  title="DISEÑO GRÁFICO" 
		  link="/about" 
		  svgClass="text-green-500" 
		/>
		<ListItem 
		  title="PACKAGING" 
		  link="/contact" 
		  svgClass="text-purple-500" 
		/>
	   <ListItem 
		  title="DISEÑO UX/UI" 
		  link="/contact" 
		  svgClass="text-purple-500" 
		/>
	   </ul>

	   </div>
       
	   <div class="flex flex-col items-center gap-10">

	  <Button variant="secondary" href="/contact">Quiero trabajar con ustedes</Button>

	   <svg class="size-12 text-gray-1 animate-bounce" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path fill="currentColor" d="M25 42c-9.4 0-17-7.6-17-17S15.6 8 25 8s17 7.6 17 17s-7.6 17-17 17m0-32c-8.3 0-15 6.7-15 15s6.7 15 15 15s15-6.7 15-15s-6.7-15-15-15"/><path fill="currentColor" d="m25 34.4l-9.7-9.7l1.4-1.4l8.3 8.3l8.3-8.3l1.4 1.4z"/><path fill="currentColor" d="M24 16h2v17h-2z"/></svg>
	   </div>
	   </section>
	
	<main class="bg-gray-3 py-40">

    <div class="w-[80%] mx-auto grid grid-cols-4 gap-8">
    <article class="group flex flex-col gap-6 items-center justify-center bg-gray-5 border border-gray-4 hover:border-gray-1 hover:shadow-lg shadow-purple-2 rounded-3xl aspect-square hover-transt">
	<img src="src/assets/branding.webp" alt="Branding" class="size-40 object-cover group-hover:scale-105 hover-transt">
    <h2 class="text-2xl text-gray-1 group-hover:text-white hover-transt">BRANDING</h2>
	</article>
</div>
	</main>

</div>

