---
import Logo from '../assets/logo.astro';
import ListItem from "../components/ListItem.astro";
import Button from "./Button.astro";
---

<main class="flex flex-col items-center justify-center h-screen">

    <section class="flex flex-col  gap-14 items-center justify-center">
<div class="relative w-26 md:w-40 lg:w-60 group">
  <Logo class="text-gray-1 w-full" />

  <Logo class="absolute top-0 left-0 text-white w-full logo-mask-sweep" />
</div>
    

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">

  <div class="relative flex justify-center group">
    <img src="/BRANDING.webp" alt="Branding" class="h-16 md:h-20"/>
    <span class="absolute bottom-full mb-2 w-max px-2 py-1 
                   bg-gray-3 text-white text-xs rounded-md 
                   opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none">
      Branding
    </span>
  </div>

  <div class="relative flex justify-center group">
    <img src="/DISEÑO-GRAFICO.webp" alt="Diseño Gráfico" class="h-16 md:h-20"/>
    <span class="absolute bottom-full mb-2 w-max px-2 py-1 bg-gray-3 text-white text-xs rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none">
      Diseño Gráfico
    </span>
  </div>

  <div class="relative flex justify-center group">
    <img src="/PACKAGING.webp" alt="Packaging" class="h-16 md:h-20"/>
    <span class="absolute bottom-full mb-2 w-max px-2 py-1 bg-gray-3 text-white text-xs rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none">
      Packaging
    </span>
  </div>

  <div class="relative flex justify-center group">
     <img src="/DISEÑO-WEB.webp" alt="Diseño Web" class="h-16 md:h-20"/>
     <span class="absolute bottom-full mb-2 w-max px-2 py-1 bg-gray-3 text-white text-xs rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none">
       Diseño Web
     </span>
  </div>

</div>


    <div class="flex flex-col items-center jnustify-center gap-4">

    <div class="flex gap-4">
     <a href="https://www.behance.net/jelfstudio" target="_blank" class="text-gray-1 hover:text-white transition-colors duration-300 ease-in-out size-6 md:size-8">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.58 12.27c-.04-.62-.25-1.09-.62-1.41c-.37-.32-.83-.48-1.38-.48c-.58 0-1.08.17-1.39.51c-.33.34-.54.8-.62 1.38m6.35-.23c.08.41.08 1 .08 1.77h-6.5c.05.9.35 1.52.94 1.88c.35.23.78.34 1.29.34c.53 0 .96-.14 1.27-.41c.2-.15.36-.35.5-.62h2.38c-.06.54-.35 1.07-.88 1.62c-.78.88-1.9 1.3-3.34 1.3c-1.19 0-2.23-.37-3.16-1.1c-.88-.73-1.34-1.92-1.34-3.57c0-1.55.41-2.75 1.23-3.55c.82-.83 1.88-1.24 3.19-1.24c.77 0 1.47.14 2.09.42c.62.28 1.14.71 1.54 1.32c.37.53.6 1.14.71 1.84M9.58 14.07c0-.65-.27-1.1-.79-1.34c-.29-.13-.71-.2-1.25-.23H4.87v3.34H7.5c.54 0 .96-.07 1.26-.22c.55-.27.82-.79.82-1.55m-4.71-3.61H7.5c.54 0 1-.1 1.32-.31c.34-.2.5-.57.5-1.09c0-.56-.22-.96-.66-1.15c-.39-.13-.88-.19-1.47-.19H4.87m6.85 4.7c.32.5.48 1.11.48 1.82c0 .76-.2 1.4-.55 1.99a3.6 3.6 0 0 1-.88.98c-.4.29-.87.51-1.41.62c-.54.11-1.12.17-1.75.17H2V5.55h6c1.53.03 2.6.45 3.23 1.33c.38.53.57 1.16.57 1.9c0 .76-.19 1.37-.57 1.83c-.23.26-.53.5-.95.71c.63.23 1.11.6 1.44 1.1m8.34-5.1h-5.01V6.07h5.01v1.25z" fill="currentColor"/></svg>
     </a>


     <a href="https://www.instagram.com/jelf.studio" target="_blank" class="text-gray-1 hover:text-white transition-colors duration-300 ease-in-out size-6 md:size-8">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg>
     </a>


     <a href="https://www.facebook.com/jelf.studio" target="_blank" class="text-gray-1 hover:text-white transition-colors duration-300 ease-in-out size-6 md:size-8">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02"/></svg>
     </a>


     <a href="https://www.tiktok.com/@jelf.studio" target="_blank" class="text-gray-1 hover:text-white transition-colors duration-300 ease-in-out size-6 md:size-8">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48"/></svg>
     </a>
    </div>

    <Button variant="secondary" href="http://wa.me/+51918985238">Quiero trabajar con ustedes</Button>

    
    <footer class="text-center">
    <p class="text-gray-2 font-light text-xs md:text-sm tracking-wider">© 2025 JELFSTUDIO. - ESTUDIO DE DISEÑO & BRANDING.</p>
    </footer>
    </div>
   

   
    </section>

  
    
    </main>